<a href="https://colab.research.google.com/github/kevorkian-mano/Motor_Vehicle_Collisions_Project/blob/main/DataVisProject1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Step1 Loading The Data**

In [ ]:
import pandas as pd
# Load crashes dataset
crashes_url = 'https://data.cityofnewyork.us/api/views/h9gi-nx95/rows.csv?accessType=download'
df_crashes = pd.read_csv(crashes_url , low_memory=False)
# Load persons dataset
persons_url = 'https://data.cityofnewyork.us/api/views/f55k-p6yu/rows.csv?accessType=download'
df_persons = pd.read_csv(persons_url , low_memory=False)

# **Step2 Exploring The Data**

In [ ]:
df_crashes.info()

df_crashes.shape
sample_crashes = df_crashes.sample(10000, random_state=42)
sample_crashes.head(10)
sample_crashes.columns.tolist()
sample_crashes.isna().sum().sort_values(ascending=False).head(15)

VEHICLE TYPE CODE 5              9956
CONTRIBUTING FACTOR VEHICLE 5    9954
VEHICLE TYPE CODE 4              9820
CONTRIBUTING FACTOR VEHICLE 4    9815
VEHICLE TYPE CODE 3              9324
CONTRIBUTING FACTOR VEHICLE 3    9298
OFF STREET NAME                  8220
CROSS STREET NAME                3795
ZIP CODE                         3030
BOROUGH                          3029
ON STREET NAME                   2194
VEHICLE TYPE CODE 2              2038
CONTRIBUTING FACTOR VEHICLE 2    1635
LOCATION                         1104
LATITUDE                         1104
dtype: int64

# **Step3 Cleaning The Data (Pre-Integration)**

# **Step4 Integration**

# **Step5 Cleaning The Data (Post-Integration)**

# **Step6 Building an Interactive Website (Dash)**

## Step 7 : Contributions Templete For Collabortors Pull & Push

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import getpass

token = getpass.getpass("Enter your github classical token :")
username = input("Enter your github username :")
!git clone https://{username}:{token}@github.com/kevorkian-mano/Motor_Vehicle_Collisions_Project.git

In [ ]:
%cd Motor_Vehicle_Collisions_Project
!git pull

In [ ]:
email = input("Enter your github email : ")
user = input ("Enter your github username : ")
message = input ("enter your commit message :")
!git config --global user.email {email}
!git config --global user.name {user}
!git add .
!git commit -m {message}
!git push